


// Brand Colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #211a61;
$pink: #ff99f7;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: $black;
$gray-900: #212529;
$black: #000;
$grays: (100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400, 500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800, 900: $gray-900);
$theme-colors: (primary: $blue, secondary: $gray-600, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
//$colors: (blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan, white: $white, gray: $gray-600,gray-dark: $gray-800);
$theme-color-interval: 8%;

$border-radius-base: 0;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Options

$enable-rounded: 0;
$enable-shadows: false;
$enable-gradients: true;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;




$body-color:                $white;
$body-bg:                   $black;



$link-color:                              $white;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   underline;

// navbar

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $pink;
$navbar-dark-active-color:          $pink;

$navbar-dark-brand-color:                 $pink;
$navbar-dark-brand-hover-color:           $white;

// Core variables and mixins
@import "../node_modules/bootstrap/scss/bootstrap";

.bg-main {
  background-color: $gray-900;
}
.bg-grad {
  background: -moz-linear-gradient(top, $pink 33%, $purple 100%);
  background: -webkit-linear-gradient(top, $pink 33%,$purple 100%);
  background: linear-gradient(to bottom, $pink 33%,$purple 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='$purple',GradientType=0 );
}


body, html {
  background-color: #0f0f0f;
  position: relative;
  min-height: 100%;
}
main .container {

  background-color: #4c4c4c;
}

body > .container {
}


/* Sticky footer styles
-------------------------------------------------- */

body {
  /* Margin bottom by footer height */
}
.footer {
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}